* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
}
button {
  height: 100px;
  width: 100px;
  font-size: 3rem;
  font-weight: bolder;
}

#recent {
  overflow-y: auto;
}

.score {
  font-size: 1.5rem;
}

#teamChange {
  width: auto;
  font-size: 2rem;
  font-weight: bolder;
}

#runsInputConatiner {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
